// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';
@import 'shop-homepage';
@import 'admin-page';

@tailwind base;

@tailwind components;

@tailwind utilities;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pagination {
  @apply mx-auto text-lg;

  .page-item {
    @apply px-2 rounded;
    display: inline-block;

    &:hover:not(.disabled):not(.active):not(.next-btn):not(.prev-btn) {
      @apply bg-blue-400 text-white;
    }
  }

  .disabled {
    @apply text-gray-500;
  }
}

// @media (min-width: 640px) {
//   .flickity-prev-next-button.previous {
//     left: -50px !important;
//   }

//   .flickity-prev-next-button.next {
//     right: -50px !important;
//   }
// }

@media (min-width: 1280px) and (max-width: 1505px) {
  .audiobook-title {
    width: 8.6rem !important;
  }
}

@media (max-width: 390px) {
  .audiobook-title {
    width: 8rem !important;
  }
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 150px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .grid-1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .grid-2 {
  }
  .grid-3 {
  }
  .grid-4 {
  }
  .grid-5 {
  }
  .grid-6 {
  }
  .grid-7 {
  }

  @screen sm {
    & {
      grid-template-columns: 200px repeat(3, 1fr);
      grid-template-rows: repeat(2, 100px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .grid-1 {
        grid-area: 1 / 1 / 3 / 2;
      }
      .grid-2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .grid-3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .grid-4 {
        grid-area: 1 / 4 / 2 / 5;
      }
      .grid-5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .grid-6 {
        grid-area: 2 / 3 / 3 / 4;
      }
      .grid-7 {
        grid-area: 2 / 4 / 3 / 5;
      }
    }
  }

  @screen md {
    & {
      grid-template-columns: 300px repeat(3, 1fr);
      grid-template-rows: repeat(2, 150px);
    }
  }

  @screen lg {
    & {
      grid-template-columns: 330px repeat(3, 1fr);
      grid-template-rows: repeat(2, 175px);
    }
  }
}

.card {
  width: 250px;
  height: 300px;
  background: #000;

  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: 0.25s;
      transition-delay: 0s;
    }
  }

  .details {
    @apply bg-gray-800;
    // background-color: #515151;
    top: 0;
    width: 70%;
    height: 100%;
    transition: 0.5s;
    left: -100%;
  }

  &:hover {
    .details {
      left: 0;
    }

    .image img {
      opacity: 0.5;
      transform: translateX(25%);
      transition: 0.5s;
      transition-delay: 0.3s;
    }
  }
}

.vue-slider {
  @apply pl-2 pr-3 #{!important};
}
